
@{
    ViewBag.Title = "Index";
}
<br />
<h2>Index</h2>
<div class="float-right">
    Logged in as: @ViewBag.firstName
</div>
<h4 style="font-style:oblique; font-weight:lighter;">Please Login to See your Booking details</h4>
<br />

